
*{
    font-family: 'Montserrat', sans-serif;
}
nav a{
    color: #0277BD;
    font-weight: bold;
}
.logo-image{
    height: 100px;
    animation: shake 1.5s;
    animation-iteration-count: 20;
}
.logo-image:hover {
  cursor: pointer;
  animation: shake 1.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform:  rotate(0deg); }
  10% { transform: rotate(-3deg); }
  20% { transform: rotate(3deg); }
  30% { transform: rotate(0deg); }
  40% { transform: rotate(3deg); }
  50% { transform: rotate(-3deg); }
  60% { transform: rotate(0deg); }
  70% { transform: rotate(-3deg); }
  80% { transform: rotate(3deg); }
  90% { transform: rotate(0deg); }
  100% { transform: rotate(3deg); }

}

