{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}

  <h1 class="text-center">Hiring Inceptors</h1>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="jumbotron">
        <h3>Welcome at hiring inceptors.</h3>
        We at hiring inceptors are all you need to meet your professional life expectations.
        If a new job is the best move for your career, HiringInceptors will help you identify the right opportunity.
      </div>
    </div>
  </div>
{% endblock %}
